{% extends 'products/base.html' %}


{% block content %}
<div class="max-w-5xl mx-auto px-4 py-12">


  <nav class="text-sm mb-8 text-gray-500">
    <a href="{% url 'home' %}" class="hover:text-gray-900">Головна</a> /
    <a href="{% url 'products:catalog' %}" class="hover:text-gray-900">Каталог</a> /
    <span class="text-gray-900">{{ item.name }}</span>
  </nav>


  <div class="grid grid-cols-1 md:grid-cols-2 gap-10">


    <img src="{{ item.image.url }}" alt="{{ item.name }}" class="w-full rounded-xl shadow-md object-cover">

    <div class="flex flex-col space-y-6">

      <div>
        <h1 class="text-3xl font-bold text-gray-900 mb-1">{{ item.name }}</h1>
        <p class="text-sm text-gray-500">{{ item.type.name }}</p>
      </div>

      <p class="text-gray-700 leading-relaxed">
        {{ item.shortDescription|linebreaksbr }}
      </p>

      <p class="text-gray-700 leading-relaxed">
        {{ item.description|linebreaksbr }}
      </p>

      <p class="text-xl font-bold text-gray-900 whitespace-nowrap">
        Продавець: <a href="{% url 'users:seller_profile' item.seller.id %}">{{ item.seller|linebreaksbr }}</a>
      </p>

      <div class="flex items-center gap-6 mt-auto">
        <span class="text-3xl font-bold text-gray-900 whitespace-nowrap">
          ₴{{ item.price }}
        </span>

      <div class="flex items-center gap-4 mt-6">
  {# кнопка «Додати до кошика» #}
  <form action="{% url 'products:add-to-basket' item.id %}"
        method="post" class="flex-1">
    {% csrf_token %}
    <button type="submit"
        class="w-full min-w-[9rem] bg-gray-900 text-white py-3 rounded-xl
               hover:bg-gray-800 transition text-center">
      Додати до кошика
    </button>
  </form>

  {% if item.seller.username == request.user.username %}
  {# кнопка «Видалити» #}
  <form action="{% url 'products:delete-product' item.id %}"
        method="post" class="flex-1">
    {% csrf_token %}
    <button type="submit"
        class="w-full min-w-[9rem] bg-gray-900 text-white py-3 rounded-xl
               hover:bg-gray-800 transition text-center">
      Видалити продукт
    </button>
  </form>

  {# кнопка «Редагувати» #}
  <form action="{% url 'products:edit-product' item.id %}"
        method="get" class="flex-1">
    <button type="submit"
        class="w-full min-w-[12rem] bg-gray-900 text-white py-3 rounded-xl
               hover:bg-gray-800 transition text-center">
      Редагувати
    </button>
  </form>
  {% endif %}
</div>

    </div>
  </div>

</div>
{% endblock %}